@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}
html {
  font-family: var(--font-poppins);
}

body {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    135deg,
    hsl(240, 100%, 17%) 0%,
    hsl(271deg 100% 30%) 78%,
    hsl(285deg 100% 32%) 100%
  ) fixed;
  font-family: 'Courier New', Courier, monospace;
}